body {
    color: white;
    background: black;
}

header {
    border-bottom: solid 2px purple;
    padding: 20px;
    font-size: 32px;
    color: white;
}

section {
    background: black;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

div{
    
}